* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 80%;
  margin: 0 auto;
  color: #333;
}

form {
  padding: 1em;
  width: 50%;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 50px;
}

.input {
  display: block;
  line-height: 2em;
  margin: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1em;
}

#agreement {
  display: inline;
  width: 5%;
  margin: 10px;
}

input:focus {
  outline: none;
}

button {
  font-size: medium;
  margin-top: 20px;
  background-color: rgb(68, 145, 68);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.is-invalid {
  border-color: tomato;
}

.error-message {
  color: tomato;
  font-size: 0.8em;
  margin-top: -0.5em;
}
